:root {
background-color: #f4f5fb;
color: hsl(0, 0%, 6%);
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 30;
padding-top: 30;
padding-top: 60;

}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
  gap: 20px; /* Espaçamento entre os itens */
    width: 100%;
}
body {

  margin: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
title {

    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #111827;
    margin-bottom: 60px;
   
  
}
span {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #111827;
    margin-bottom: 60px;
  
  
}
input {
  
    border-width: 1;
    border-color: #d1d5db;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
   padding-bottom: 10px;
   width: 100%;
   

}
input:hover {
    border-color: #ca3884;

}
button {
    width: 100%;
    height: 44px;
    background-color: #ca3884;
    color: rgb(32, 31, 31);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
   
}

button:hover {
    background-color: #9e7928;

}
ul {
    list-style-type: none;
    padding: 0;
}
 .check-button, .delete-button {
    width: 84px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(24, 23, 23);

}
ul {
  list-style: none;          /* Remove os marcadores */
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;       /* Espaçamento entre itens */
}

.item {
  display: flex;             /* Alinha os elementos na horizontal */
  justify-content: space-between; /* Distribui os elementos ocupando toda a linha */
  align-items: center;       /* Centraliza verticalmente */
  background-color: #c7c4c4; /* (Opcional) Fundo para destacar o item */
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;    /* Inclui padding na largura total */
}

.item button {
  background-color: #ca3884;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.item button:hover {
  background-color: #9e7928;
}

.item span {
  flex-grow: 1;              /* Faz o texto ocupar o espaço central */
  text-align: center;        /* Centraliza o nome do item */
  font-weight: 500;
}